= @messages.title
= @messages.description

%h3 Comments:
= render @messages.comments

%h3 Reply to Message:
= render 'comments/form'

= link_to "Back", root_path
= link_to "Edit", edit_message_path(@messages)
= link_to "Delete", message_path(@messages), method: :delete, data: { confirm: "Are you sure?" }
